---
layout: default
---


<div class="heading" id="toc">
  <h2>Змест</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Сінтаксіс</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-lang">Атрыбут мовы</a></li>
      <li><a href="#html-ie-compatibility-mode">Рэжым сумяшчальнасці Internet Explorer</a></li>
      <li><a href="#html-encoding">Кадоўка сімвалаў</a></li>
      <li><a href="#html-style-script">Падключэнне CSS і JavaScript</a></li>
      <li><a href="#html-practicality">Практычнасць важней чысціні</a></li>
      <li><a href="#html-attribute-order">Парадак атрыбутаў</a></li>
      <li><a href="#html-boolean-attributes">Лагічныя атрыбуты</a></li>
      <li><a href="#html-reducing-markup">Скарачэнне разметкі</a></li>
      <li><a href="#html-javascript">Разметка, генераваная з дапамогай JavaScript</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">CSS сінтаксіс</a></li>
      <li><a href="#css-declaration-order">Парадак аб'явы</a></li>
      <li><a href="#css-import">Не выкарыстоўвайце @import</a></li>
      <li><a href="#css-media-queries">Месца для media query</a></li>
      <li><a href="#css-prefixed-properties">Ўласцівасці з прэфіксамі</a></li>
      <li><a href="#css-single-declarations">Правілы з адзінкавымі аб'явамі</a></li>
      <li><a href="#css-shorthand">Скарочаны запіс</a></li>
      <li><a href="#css-nesting">Укладзенасць ў Less і Sass</a></li>
      <li><a href="#css-comments">Каментарыі</a></li>
      <li><a href="#css-classes">Імёны класаў</a></li>
      <li><a href="#css-selectors">Селектары</a></li>
      <li><a href="#css-organization">Арганізацыя кода</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Залатое правіла</h2>
    <p>Строга выконвайце прапанаваныя тут або сваі ўласныя пагаднення. Калі вы знайшлі памылку, будзь яна вялікая ці маленькая, адразу паведаміце пра гэта. Калі ў вас ёсць што дапоўніць ці вы хочаце прыняць удзел у распрацоўцы гэтых пагадненняў, калі ласка,<a href="https://github.com/mdo/code-guide/issues/new">стварыце issue на GitHub</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Кожны радок кода павінны здавацца напісаным толькі адным чалавекам, па-за залежнасці ад колькасці распрацоўшчыкаў.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Синтаксис</h3>
    <ul>
      <li>Выкарыстоўвайце мяккія водступы з двума прабеламі &mdash; гэта адзіны спосаб гарантаваць, што ваш код будзе ўсюды аднолькава выглядаць.</li>
      <li>Укладзеныя элементы павінны мець водступ (два прабелу).</li>
      <li>У атрыбутах заўсёды выкарыстоўвайце падвойныя двукоссі, але не адзінарныя.</li>
      <li>Ня дадаевайце слеш ("/") у канец адзіночнага тэга &mdash;<a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">Спецыфікацыя HTML5 </a> кажа, што гэта не абавязкова.</li>
      <li>Не прапускайце неабавязковыя якія зачыняюць тэгі (напрыклад, <code>&lt;/li&gt;</code> або <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>HTML5 doctype</h3>
    <p>Укажите в начале каждой вашей HTML-страницы этот тип документа. Это заставит браузер работать в режиме соответствия стандартам, что обеспечит единообразное отображение ваших страниц в разных браузерах.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Атрибут языка</h3>
    <p>Из спецификации HTML5:</p>
    <blockquote>
      <p>Для указания языка документа авторам рекомендуется прописывать атрибут языка в корневом элементе html. Это поможет инструментам синтеза речи определить какое произношение использовать, а инструментам перевода - какие правила, и так далее.</p>
    </blockquote>
    <p>Подробнее познакомиться с атрибутом <code>lang</code> можно в <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">спецификации</a>.</p>
    <p><a href="http://reference.sitepoint.com/html/lang-codes">Список кодов различных языков</a> на Sitepoint.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>Режим совместимости Internet Explorer</h3>
    <p>IE поддерживает использование специального <code>&lt;meta&gt;</code>-тега, который указывает в режиме совместимости с какой версией IE следует отрендерить страницу. Если обстоятельства не требуют какой-то специальной версии IE, то самым правильным будет заставить браузер использовать режим самой последней версии (<strong>edge mode</strong>).</p>
    <p>Для получения дополнительной информации следует познакомиться со <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">статьей на Stack Overflow</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Кодировка символов</h3>
    <p>Явно объявив кодировку символов, вы быстро и легко обеспечите правильное отображение вашего контента. При этом, вы сможете избежать использования <a href="http://www.w3schools.com/html/html_entities.asp">символьных сущностей</a> в вашем HTML-коде, при условии, что их кодировка совпадает с кодировкой документа (как правило, UTF-8).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>Подключение CSS и JavaScript</h3>
    <p>Согласно спецификации HTML5, при подключении CSS и JavaScript файлов не требуется указание атрибута <code>type</code>, так как <code>text/css</code> и <code>text/javascript</code> являются значениями по умолчанию.</p>
    <h4>Ссылки на спецификацию HTML5:</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Использование тега link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Использование тега style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Использование тега script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-practicality">
  <div class="col">
    <h3>Практичность важнее чистоты</h3>
    <p>Старайтесь соблюдать стандарты HTML и семантику, но не за счет практичности. Используйте меньшее количество разметки с наименьшим числом тонкостей, когда это возможно.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Порядок атрибутов</h3>
    <p>Для удобства чтения HTML-атрибуты должны быть указаны именно в этом порядке:</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
    <p>Классы создают для многократно используемых компонентов верстки, поэтому они идут первыми. Идентификаторы более специфичны и должны использоваться умеренно (например, для закладок на странице), поэтому они следуют вторыми.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Логические атрибуты</h3>
    <p>Логические атрибуты одни из тех, которые не требуют объявленного значения. XHTML требует от вас задать значение, но в HTML5 нет такого требования.</p>
    <p>За подробной информацией обратимся к <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">разделу о логических атрибутах на WhatWG</a>:</p>
    <blockquote>
      <p>Наличие логического атрибута у элемента говорит об истинном его значении, а отсутствие атрибута &mdash; о ложном.</p>
    </blockquote>
    <p>Если вы <em>должны</em> указать значение атрибута, но <strong>вам это не нужно</strong>, следуйте этой рекомендации от WhatWG:</p>
    <blockquote>
      <p>Если атрибут присутствует, его значение должно быть либо пустой строкой или [...] каноническим именем атрибута без начальных или конечных пробелов.</p>
    </blockquote>
    <p><strong>Если коротко, то не указывайте значение логическому атрибуту.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Сокращение разметки</h3>
    <p>Всякий раз, когда это возможно, избегайте лишних родительских элементов. Во многих случаях это требует повторения и рефакторинга, но позволяет создать меньшее количество разметки. Посмотрите на следующий пример:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>Разметка, генерируемая с помощью JavaScript</h3>
    <p>Создание разметки с помощью JavaScript делает ее менее производительной, сложной для поиска и редактирования. По возможности избегайте этого.</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Синтаксис</h3>
    <ul>
      <li>Используйте мягкие отступы с двумя пробелами &mdash; это единственный способ гарантировать, что ваш код будет везде одинаково выглядеть.</li>
      <li>При группировке селекторов помещайте каждый селектор на отдельную строку.</li>
      <li>Для лучшей читаемости оставляйте один пробел перед открывающейся фигурной скобкой блока объявлений.</li>
      <li>Помещайте закрывающуюся фигурную скобку блока объявлений на новой строке.</li>
      <li>Оставляйте один пробел после <code>:</code> для каждого объявления.</li>
      <li>Каждое объявление должно находится на отдельной строке для более точного сообщения об ошибках.</li>
      <li>Завершайте все объявления точкой с запятой. Для последнего объявления в блоке это не является обязательным, но в противном случае ваш код будет более подвержен ошибкам.</li>
      <li>Для свойств, значения которых разделены запятыми, следует оставлять по одному пробелу после каждой запятой (например, <code>box-shadow</code>).</li>
      <li>Не оставляйте пробелов после запятых <em>внтури</em> значений <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, или <code>rect()</code>. Это помогает различать различные цветовые значения (запятая без пробела) от нескольких значений одного свойства (запятая с пробелом).</li>
      <li>Не добавляйте начальный ноль для значений (например, <code>.5</code> вместо <code>0.5</code>).</li>
      <li>Все 16-ичные значения записывайте строчными буквами (в нижнем регистре), например, <code>#fff</code>. Строчные буквы гораздо легче различить при просмотре файла, поскольку они, как правило, имеют больше уникальных форм.</li>
      <li>Используйте короткие 16-ичные значения везде, где это возможно, например, <code>#fff</code> вместо <code>#ffffff</code>.</li>
      <li>Всегда берите в кавычки значения атрибутов внутри селектора, например, <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">В некоторых случаях это делать необязательно</a>, но это является хорошей практикой для поддержки согласованности.</li>
      <li>Опускайте единицы измерения при нулевом значении, например, <code>margin: 0;</code> вместо <code>margin: 0px;</code>.</li>
    </ul>
    <p>Есть вопросы по перечисленным соглашениям? Ознакомьтесь с <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">разделом о синтаксисе статьи о каскадных таблицах стилей</a> на Википедии.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Порядок объявления</h3>
    <p>Объявления логически связанных свойств должны быть сгруппированы в следующем порядке:</p>
    <ol>
      <li>Позиционирование</li>
      <li>Блочная модель</li>
      <li>Типографика</li>
      <li>Отображение</li>
    </ol>
    <p>Позиционирование следует первым потому, что оно может удалить элемент из нормального потока документа и переопределить блочную модель связанных стилей. Блочная модель идет следующей, так как она диктует размеры и расположение компонента.</p>
    <p>Все остальные объявления, выполняющиеся <em>внутри</em> компонента или не оказывающие влияния на предыдущие два раздела, следуют в последнюю очередь.</p>
    <p>Для ознакомления с полным списком свойств и их порядком обратитесь к <a href="http://twitter.github.com/recess">Recess</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>Не используйте <code>@import</code></h3>
    <p>По сравнению с тегом <code>&lt;link&gt;</code> правило <code>@import</code> медленнее, создает дополнительные запросы и может вызвать иные непредвиденные проблемы. Избегайте это правило и используйте вместо него один из альтернативных подходов:</p>
    <ul>
      <li>Используйте несколько тегов <code>&lt;link&gt;</code></li>
      <li>Компилируйте ваш CSS-код в один файл с помощью препроцессоров, например, Sass или Less</li>
      <li>Склеивайте ваши CSS-файлы с помошью инструментов, которые есть в Rails, Jekyll и других окружениях</li>
    </ul>
    <p>Для получения дополнительной информации следует познакомиться со <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">статьей Стива Соудерса</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Место для media query</h3>
    <p>Помещайте media queries настолько близко к соответствующим наборам правил, насколько это возможно. Не объединяйте их в отдельную таблицу стилей. Не помещайте их в конце файла. В противном случае это приведет к тому, что media queries будут не замечены в будущем. Вот типичная структура:</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Свойства с префиксами</h3>
    <p>Когда вы используете свойства с префиксами вендоров, оставляйте отступы для каждого свойства так, чтобы значения объявлений выстраивались в вертикальную линию. Это упрощает многострочное редактирование.</p>
    <p>В Textmate используйте <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). В Sublime Text 2, используйте <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) и <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Правила с одиночными объявлениями</h3>
    <p>В случаях, когда набор правил включает в себя <strong>только одно объявление</strong>, рекомендуется удалить переносы строк для удобства чтения и редактирования. Любой набор правил с несколькими объявлениями должен быть разделен на отдельные строки.</p>
    <p>Ключевым фактором здесь является обнаружение ошибок &mdash; например, валидатор CSS сообщает вам, что в строке 183 есть синтаксическая ошибка. С одиночным объявлением не возникнет сложности с исправлением. В случае с несколькими объявлениями, разделенными на строки, так же проблем не возникнет. Но если несколько объявлений будут записаны в одну строку, то вам будет сложнее понять какое именно объявление вызвало синтаксическую ошибку.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Сокращенная запись</h3>
    <p>Старайтесь ограничить использование сокращенных объявлений в тех случаях, когда необходимо явно задать все доступные значения. Наиболее часто злоупотребляют сокращением следующих свойств:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Часто нам не нужно устанавливать все значения сокращенной записи свойства. Например, HTML заголовки устанавливают только отступы сверху и снизу, таким образом, в случае необходимости нужно переопределить только эти два значения. Чрезмерное использование сокращенной записи свойств часто приводит к грязному коду с ненужными переопределения и непреднамеренными побочными эффектами.</p>
    <p>На сайте Mozilla Developer Network есть отличная статья о <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">сокращенной записи свойств</a> для тех кто не знаком с такой формой записи.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Вложенность в Less и Sass</h3>
    <p>Избегайте излишнюю вложенность. То, что вы можете ее использовать, не означает, что вы всегда должны это делать. Применяйте вложенность только если вам нужно сократить область видимости стилей до родительского элемента, а также при наличии нескольких элементов, которые должны быть вложены.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Комментарии</h3>
    <p>Код написан и поддерживается людьми. Убедитесь, что ваш код является описательным, хорошо прокомментирован и доступным (понятным) для других. Хорошие комментарии к коду передают контекст и цель кода, а не просто повторяют название класса или компонента.</p>
    <p>Обязательно пишите законченные предложения для больших комментариев и короткие фразы для общих замечаний.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>Имена классов</h3>
    <ul>
      <li>Записывайте имена классов строчными буквами и используйте знаки тире (а не знаки нижнего подчеркивания или camelCase). Знаки тире служат разделителями во взаимосвязанных классах (например, <code>.btn</code> и <code>.btn-danger</code>).</li>
      <li>Избегайте чрезмерные и произвольные сокращения. <code>.btn</code> подойдет для <em>button</em>, но <code>.s</code> не означает ничего.</li>
      <li>Придерживайтесь коротких и емких имен классов настолько, насколько это возможно.</li>
      <li>Используйте осмысленные имена; используйте структурные или целенаправленные имена вместо презентационных.</li>
      <li>Классы с префиксами должны основываться на ближайшем классе-родителе или на каком то базовом классе.</li>
      <li>Используйте имена классов с префиксом <code>.js-*</code> для обозначения поведения (в отличие от стиля), но не используйте эти классы в вашем CSS.</li>
    </ul>
    <p>Также будет полезно использовать многие из приведенных рекомендаций для имен переменных в препроцессорах Sass и Less.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Селекторы</h3>
    <ul>
      <li>Используйте имена классов место имен тегов для оптимальной производительности отображения.</li>
      <li>Избегайте использования нескольких селекторов по атрибуту (например, <code>[class^="..."]</code>) для часто встречающихся компонентов. Это негативно повлияет на производительность браузера.</li>
      <li>Используйте короткие селекторы и старайтесь ограничить количество элементов в каждом селекторе до трех.</li>
      <li>Вкладывайте классы в ближайший родительский класс <strong>только</strong> в случае необходимости (например, когда не используете классы с префиксами).</li>
    </ul>
    <p>Дополнительно к прочтению:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Организация кода</h3>
    <ul>
      <li>Организуйте разделы кода согласно вашим компонентам.</li>
      <li>Разработайте последовательную иерархию для комментариев.</li>
      <li>Отделяйте разделы кода несколькими пустыми строками. Это упростит просмотр кода в крупных файлах.</li>
      <li>Когда вы используете множество CSS-файлов, разбивайте их по компонентам, а не по страницам. Страницы могут быть переработаы и компоненты перемещены с одной страницы на другую.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Настройки редактора кода</h3>
    <p>Установите в вашем редакторе следующие настройки, которые помогут избежать распространенных несогласованностей в коде и грязи:</p>
    <ul>
      <li>Использовать мягкие отступы размером в два пробела.</li>
      <li>Обрезать конечные пробелы при сохранении.</li>
      <li>Кодировка файлов UTF-8.</li>
      <li>Добавлять новую строку в конец файлов.</li>
    </ul>
    <p>Подумайте над документированием и применением этих настроек в файле <code>.editorconfig</code> вашего проекта. Для примера, ознакомьтесь с <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">файлом настроек для Bootstrap</a>. Узнайте больше <a href="http://editorconfig.org">об EditorConfig</a>.</p>
  </div>
</div>
